{% extends "base.html" %}
{% from "macros/add_to_cart_macro.html" import render_row %}
{% block pagetitle %} Shopping List {% endblock %}

{% block content %}
	<div class="container">
		<div class="col-md-6">
			<h2 class="text-center">Shopping List</h2>
				{% if add_to_list_err %}
				tem already in list
			{% endif %}
			<table class="table">
				<tr>
					<th class="text-center">Item</th>
					<th class="text-center">Price</th>
					<th class="text-center">Quantity</th>
					<th class="text-center">Notes</th>
					<th></th>
				</tr>
			    {% for key, value in shopping_list.iteritems() %}
			    	{{ render_row(key,value,add_to_cart_form.quantity) }}
			    {% endfor %}
		    </table>
		    <h2 class="text-center">Add Item to List</h2>
		    <form method="post" action="{{ url_for('default.add_to_list') }}">
		    	<div class="input-group">
		    		<div>
				    {{ add_item_form.item_name.label }}
				    {{ add_item_form.item_name }}
				    </div>

				    {% if add_item_form.item_name.errors %}
				    	<div>
				    		<ul class="has-errors">
					    		{% for error in add_item_form.item_name.errors %}
					      			<li>{{ error }}</li>
					    		{% endfor %}
				    		</ul>
			    		</div>
			  		{% endif %}
		  		</div>
		  		<div class="input-group">
		  			{{ add_item_form.price.label }}
				    {{ add_item_form.price }}
				    {% if add_item_form.item_name.errors %}
				    	<div>
				    		<ul class="has-errors">
					    		{% for error in add_item_form.price.errors %}
					      			<li>{{ error }}</li>
					    		{% endfor %}
				    		</ul>
				    	</div>
			  		{% endif %}	
		  		</div>
			    
			    <input class='btn btn-primary ' type='submit' />
			</form>
		</div>
		<div class="col-md-6">
			<h2 class="text-center">Shopping Cart</h2>
			<table class="table">
				<tr>
					<th>Item</th>
					<th>Price</th>
					<th>Quantity</th>	
				</tr>
		    	{% for key, value in shopping_cart.iteritems() %}
			    	<tr>
				    	<td>
				    		{{ key }}
				    	</td>
				    	<td>
				    		{{value["price"]}}
				    	</td>
				    	<td>
				    		{{ value["quantity"]}}
				    	</td>
			    	</tr>
		    	{% endfor %}
			    	<tr>
			    		<td></td>
			    		<td>Total</td>
			    		<td>{{ cart_total}}</td>
			    	</tr>
	    	</table>
		</div>
	</div>
		

	    


{% endblock %}