{% macro render_row(key, value, field) %}
    <tr>
        <td>
          {{ key }}
        </td>
        <td>
          {{value["price"]}}
        </td>
        <form method="post" action="{{ url_for('default.add_to_cart') }}">
            <td>
                {{ field(**kwargs)|safe }}
                <input type="hidden" value="{{ key }}" name="item_name"/>
            </td>
            <td>
                {% if field.errors %}
                    <ul>
                    {% for error in field.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            </td>
            <td>
                <button type="submit" class="btn btn-primary">Add to Cart</button>
            </td>
        </form>
    </tr>
{% endmacro %}
